<div *ngIf="emailService.getSendCount() > 0 then emailTable else placeholder"></div>
<ng-template #placeholder> 
    <h4> The list of emails is empty </h4>
</ng-template>
<ng-template #emailTable>
    <h3>Filtering</h3>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" name="withBody" id="switchWithBody" [(ngModel)]="withBodyChecked">
        <label class="form-check-label" for="switchWithBody"> Show only emails with body </label>
    </div>
    Search: <input type="text" class="form-control" name="filterStr" [(ngModel)]="filterStr">
    <br>
    <h3>Sent emails</h3>
    <table class="table table-hover table-bordered">
        <thead class="table-light">
            <tr>
                <td>To</td>
                <td>Subject</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let email of emailService.getAll()! | filterContent:filterStr | withBody:withBodyChecked">
                <td>{{ email.to }}</td>
                <td>{{ email.subject }}</td>
                <td>
                    <a 
                    class="btn btn-sm btn-primary me-2"
                    [routerLink]="['/exercise4-viewer']"
                    [queryParams]="{'id':email.id}"
                    >
                        View
                    </a>
                    <button
                    class="btn btn-sm btn-danger"
                    (click)="deleteEmail(email.id)"
                    >
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>

</table>
</ng-template>