<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>PUI web assignment: {{ title }}</h1>
      <p> See drop down menu below... </p>
    </div>
    <div class="row navbar">
      <div class="col"> 
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dd-email-readers" ngbDropdownToggle>
            Email Readers
          </button>
          <div ngbDropdownMenu aria-labelledby="dd-email-readers">
            <button ngbDropdownItem [routerLink]="['/email-reader-basic']"> Basic (Lecture 1)</button>
            <button ngbDropdownItem [routerLink]="['/email-reader-list']"> List (Lecture 2, Assignment 1)</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
    
<router-outlet />